* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper {
  background-color: black;
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}
.header h1 {
  color: #fff;
  text-align: center;
  margin: 30px 0;
}
.text-input {
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: #ccc;
  background-color: #000000;
  border: 1px solid #c89666;
  border-radius: 10px;
}
.button-add {
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #f1af71;
  cursor: pointer;
}
.list-item {
  display: flex;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  max-height: 50px;
}
.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
}
.button-complete {
  color: #16f51e;
  margin-right: 10px;
}
.button-edit {
  color: #e2d029;
  margin-right: 10px;
}
.button-delete {
  color: rgb(247, 26, 26);
}
.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #ff1010;
  opacity: 0.6;
}
.list {
  width: 220px;
  background-color: #555959;
  border: none;
  color: #fff;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
}
input:focus,
button:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  .app-wrapper {
    background-color: black;
    min-width: 362px;
    min-height: 621px;
    padding: 19px;
    box-sizing: border-box;
    border-radius: 58px;
    box-shadow: 3px 6px 40px #000;
    margin-bottom: -5px;
  }
}
@media screen and (max-width: 378px) {
  .app-wrapper {
    background-color: black;
    min-width: 259px;
    min-height: 621px;
    padding: 19px;
    box-sizing: border-box;
    border-radius: 58px;
    box-shadow: 3px 6px 40px #000;
    margin-bottom: -1px;
  }
  .button-add {
    width: 61px;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: #f1af71;
    cursor: pointer;
  }
}
@media screen and (max-width: 425px) {
  .list {
    width: 181px;
    background-color: #555959;
    border: none;
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 15px;
  }

  .button-add {
    width: 54px;
    padding: 8px 13px;
    font-size: 8px;
    border-radius: 10px;
    border: 0;
    background-color: #f1af71;
    cursor: pointer;
  }
  .text-input {
    outline: none;
    width: 255px;
    padding: 3px;
    margin-right: 4px;
    font-size: 20px;
    color: #ccc;
    background-color: #000000;
    border: 1px solid #c89666;
    border-radius: 10px;
  }
}
@media screen and (max-width: 379px) {
  .list {
    width: 123px;
    background-color: #555959;
    border: none;
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 15px;
  }
}
